In [1]:
import pandas as pd

In [2]:
url='http://localhost/dataset/renfe.csv'

In [7]:
df=pd.read_csv(url)

In [9]:
print(df)

         Unnamed: 0          insert_date  origin destination  \
0                 0  2019-04-19 05:31:43  MADRID     SEVILLA
1                 1  2019-04-19 05:31:43  MADRID     SEVILLA
2                 2  2019-04-19 05:31:43  MADRID     SEVILLA
3                 3  2019-04-19 05:31:43  MADRID     SEVILLA
4                 4  2019-04-19 05:31:43  MADRID     SEVILLA
5                 5  2019-04-19 05:31:43  MADRID     SEVILLA
6                 6  2019-04-19 05:31:43  MADRID     SEVILLA
7                 7  2019-04-19 05:31:43  MADRID     SEVILLA
8                 8  2019-04-19 05:31:43  MADRID     SEVILLA
9                 9  2019-04-19 05:31:43  MADRID     SEVILLA
10               10  2019-04-19 05:31:43  MADRID     SEVILLA
11               11  2019-04-19 05:31:43  MADRID     SEVILLA
12               12  2019-04-19 05:31:43  MADRID     SEVILLA
13               13  2019-04-19 05:31:43  MADRID     SEVILLA
14               14  2019-04-19 05:31:43  MADRID     SEVILLA
15               15  2019-04-19 05:31:43  MADRID     SEVILLA
16               16  2019-04-19 05:31:43  MADRID     SEVILLA
17               17  2019-04-19 05:31:43  MADRID     SEVILLA
18               18  2019-04-19 05:31:43  MADRID     SEVILLA
19               19  2019-04-19 05:31:43  MADRID     SEVILLA
20               20  2019-04-19 05:31:43  MADRID     SEVILLA
21               21  2019-04-19 05:31:43  MADRID     SEVILLA
22               22  2019-04-19 05:31:43  MADRID     SEVILLA
23               23  2019-04-19 05:31:43  MADRID     SEVILLA
24               24  2019-04-19 05:31:54  MADRID     SEVILLA
25               25  2019-04-19 05:31:54  MADRID     SEVILLA
26               26  2019-04-19 05:31:54  MADRID     SEVILLA
27               27  2019-04-19 05:31:54  MADRID     SEVILLA
28               28  2019-04-19 05:31:54  MADRID     SEVILLA
29               29  2019-04-19 05:31:54  MADRID     SEVILLA
...             ...                  ...     ...         ...
2579741     2579741  2019-04-19 05:31:36  MADRID     SEVILLA
2579742     2579742  2019-04-19 05:31:36  MADRID     SEVILLA
2579743     2579743  2019-04-19 05:31:36  MADRID     SEVILLA
2579744     2579744  2019-04-19 05:31:36  MADRID     SEVILLA
2579745     2579745  2019-04-19 05:31:36  MADRID     SEVILLA
2579746     2579746  2019-04-19 05:31:38  MADRID     SEVILLA
2579747     2579747  2019-04-19 05:31:38  MADRID     SEVILLA
2579748     2579748  2019-04-19 05:31:38  MADRID     SEVILLA
2579749     2579749  2019-04-19 05:31:38  MADRID     SEVILLA
2579750     2579750  2019-04-19 05:31:38  MADRID     SEVILLA
2579751     2579751  2019-04-19 05:31:38  MADRID     SEVILLA
2579752     2579752  2019-04-19 05:31:38  MADRID     SEVILLA
2579753     2579753  2019-04-19 05:31:38  MADRID     SEVILLA
2579754     2579754  2019-04-19 05:31:38  MADRID     SEVILLA
2579755     2579755  2019-04-19 05:31:38  MADRID     SEVILLA
2579756     2579756  2019-04-19 05:31:38  MADRID     SEVILLA
2579757     2579757  2019-04-19 05:31:38  MADRID     SEVILLA
2579758     2579758  2019-04-19 05:31:38  MADRID     SEVILLA
2579759     2579759  2019-04-19 05:31:38  MADRID     SEVILLA
2579760     2579760  2019-04-19 05:31:38  MADRID     SEVILLA
2579761     2579761  2019-04-19 05:31:38  MADRID     SEVILLA
2579762     2579762  2019-04-19 05:31:38  MADRID     SEVILLA
2579763     2579763  2019-04-19 05:31:38  MADRID     SEVILLA
2579764     2579764  2019-04-19 05:31:38  MADRID     SEVILLA
2579765     2579765  2019-04-19 05:31:38  MADRID     SEVILLA
2579766     2579766  2019-04-19 05:31:38  MADRID     SEVILLA
2579767     2579767  2019-04-19 05:31:38  MADRID     SEVILLA
2579768     2579768  2019-04-19 05:31:38  MADRID     SEVILLA
2579769     2579769  2019-04-19 05:31:38  MADRID     SEVILLA
2579770     2579770  2019-04-19 05:31:38  MADRID     SEVILLA

                  start_date             end_date train_type  price  \
0        2019-05-29 06:20:00  2019-05-29 09:16:00    AV City  38.55
1        2019-05-29 07:00:00  2019-05-29 09:32:00        AVE  53.40
2        2019-05-29 07:30:00  2019-05-29 09:51:00        AVE  47.30
3        2019-05-29 08:00:00  2019-05-29 10:32:00        AVE  69.40
4        2019-05-29 08:30:00  2019-05-29 11:14:00      ALVIA    NaN
5        2019-05-29 09:00:00  2019-05-29 11:38:00        AVE  60.30
6        2019-05-29 09:45:00  2019-05-29 12:27:00  INTERCITY  62.20
7        2019-05-29 10:00:00  2019-05-29 12:32:00        AVE  47.30
8        2019-05-29 11:00:00  2019-05-29 13:32:00        AVE  53.40
9        2019-05-29 11:05:00  2019-05-29 13:41:00      ALVIA    NaN
10       2019-05-29 12:00:00  2019-05-29 14:32:00        AVE  53.40
11       2019-05-29 13:00:00  2019-05-29 15:40:00        AVE  53.40
12       2019-05-29 13:30:00  2019-05-29 16:05:00      ALVIA    NaN
13       2019-05-29 14:00:00  2019-05-29 16:32:00        AVE  60.30
14       2019-05-29 15:00:00  2019-05-29 17:21:00        AVE  60.30
15       2019-05-29 16:00:00  2019-05-29 18:30:00        AVE  60.30
16       2019-05-29 16:30:00  2019-05-29 18:51:00        AVE  76.30
17       2019-05-29 17:00:00  2019-05-29 19:38:00        AVE  76.30
18       2019-05-29 18:00:00  2019-05-29 20:32:00        AVE  76.30
19       2019-05-29 18:35:00  2019-05-29 21:08:00      ALVIA  67.20
20       2019-05-29 19:00:00  2019-05-29 21:38:00        AVE  76.30
21       2019-05-29 19:30:00  2019-05-29 22:05:00        AVE  60.30
22       2019-05-29 20:35:00  2019-05-29 23:15:00        AVE  53.40
23       2019-05-29 21:25:00  2019-05-30 00:10:00    AV City  43.55
24       2019-04-23 06:20:00  2019-04-23 09:16:00    AV City  43.55
25       2019-04-23 07:00:00  2019-04-23 09:32:00        AVE  76.30
26       2019-04-23 07:30:00  2019-04-23 09:51:00        AVE  76.30
27       2019-04-23 08:00:00  2019-04-23 10:32:00        AVE  76.30
28       2019-04-23 08:30:00  2019-04-23 11:14:00      ALVIA    NaN
29       2019-04-23 09:00:00  2019-04-23 11:38:00        AVE  76.30
...                      ...                  ...        ...    ...
2579741  2019-05-31 19:00:00  2019-05-31 21:38:00        AVE  69.40
2579742  2019-05-31 19:30:00  2019-05-31 22:05:00        AVE  60.30
2579743  2019-05-31 20:00:00  2019-05-31 22:21:00        AVE  60.30
2579744  2019-05-31 20:35:00  2019-05-31 23:15:00        AVE  53.40
2579745  2019-05-31 21:25:00  2019-06-01 00:10:00    AV City  49.15
2579746  2019-05-30 06:20:00  2019-05-30 09:16:00    AV City  49.15
2579747  2019-05-30 07:00:00  2019-05-30 09:32:00        AVE  69.40
2579748  2019-05-30 07:30:00  2019-05-30 09:51:00        AVE  69.40
2579749  2019-05-30 08:00:00  2019-05-30 10:32:00        AVE  69.40
2579750  2019-05-30 08:30:00  2019-05-30 11:14:00      ALVIA    NaN
2579751  2019-05-30 09:00:00  2019-05-30 11:38:00        AVE  76.30
2579752  2019-05-30 09:45:00  2019-05-30 12:27:00  INTERCITY  62.20
2579753  2019-05-30 10:00:00  2019-05-30 12:32:00        AVE  76.30
2579754  2019-05-30 11:00:00  2019-05-30 13:32:00        AVE  76.30
2579755  2019-05-30 11:05:00  2019-05-30 13:41:00      ALVIA    NaN
2579756  2019-05-30 12:00:00  2019-05-30 14:32:00        AVE  53.40
2579757  2019-05-30 13:00:00  2019-05-30 15:40:00        AVE  60.30
2579758  2019-05-30 13:30:00  2019-05-30 16:05:00      ALVIA  61.20
2579759  2019-05-30 14:00:00  2019-05-30 16:32:00        AVE  60.30
2579760  2019-05-30 15:00:00  2019-05-30 17:21:00        AVE  76.30
2579761  2019-05-30 16:00:00  2019-05-30 18:30:00        AVE  76.30
2579762  2019-05-30 16:30:00  2019-05-30 18:51:00        AVE  76.30
2579763  2019-05-30 17:00:00  2019-05-30 19:38:00        AVE  76.30
2579764  2019-05-30 18:00:00  2019-05-30 20:32:00        AVE  60.30
2579765  2019-05-30 18:35:00  2019-05-30 21:08:00      ALVIA  67.20
2579766  2019-05-30 19:00:00  2019-05-30 21:38:00        AVE  76.30
2579767  2019-05-30 19:30:00  2019-05-30 22:05:00        AVE  76.30
2579768  2019-05-30 20:00:00  2019-05-30 22:21:00        AVE  72.30
2579769  2019-05-30 20:35:00  2019-05-30 23:15:00        AVE  76.30
2579770  2019-05-30 21:25:00  2019-05-31 00:10:00    AV City  49.15

          train_class      fare
0             Turista     Promo
1             Turista     Promo
2             Turista     Promo
3          Preferente     Promo
4             Turista     Promo
5             Turista     Promo
6             Turista  Flexible
7             Turista     Promo
8             Turista     Promo
9             Turista     Promo
10            Turista     Promo
11            Turista     Promo
12            Turista     Promo
13            Turista     Promo
14            Turista     Promo
15            Turista     Promo
16            Turista  Flexible
17            Turista  Flexible
18            Turista  Flexible
19            Turista  Flexible
20            Turista  Flexible
21            Turista     Promo
22            Turista     Promo
23            Turista     Promo
24            Turista     Promo
25            Turista  Flexible
26            Turista  Flexible
27            Turista  Flexible
28            Turista  Flexible
29            Turista  Flexible
...               ...       ...
2579741    Preferente     Promo
2579742       Turista     Promo
2579743       Turista     Promo
2579744       Turista     Promo
2579745       Turista     Promo
2579746       Turista     Promo
2579747    Preferente     Promo
2579748    Preferente     Promo
2579749    Preferente     Promo
2579750       Turista  Flexible
2579751       Turista  Flexible
2579752       Turista  Flexible
2579753       Turista  Flexible
2579754       Turista  Flexible
2579755       Turista     Promo
2579756       Turista     Promo
2579757       Turista     Promo
2579758    Preferente     Promo
2579759       Turista     Promo
2579760       Turista  Flexible
2579761       Turista  Flexible
2579762       Turista  Flexible
2579763       Turista  Flexible
2579764       Turista     Promo
2579765       Turista  Flexible
2579766       Turista  Flexible
2579767       Turista  Flexible
2579768  Turista Plus     Promo
2579769       Turista  Flexible
2579770       Turista     Promo

[2579771 rows x 10 columns]

In [14]:
maximum=df['price'].max()
print(maximum)

214.2

In [15]:
minimum=df['price'].min()
print(minimum)

15.45

In [16]:
mean=df['price'].mean()
print(mean)

63.38550341776677

In [18]:
sum=df['price'].sum()
print(sum)

143827411.95000002

In [19]:
count=df['price'].count()
print(count)

2269090

In [20]:
print(df.head(10))

   Unnamed: 0          insert_date  origin destination           start_date  \
0           0  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 06:20:00
1           1  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 07:00:00
2           2  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 07:30:00
3           3  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 08:00:00
4           4  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 08:30:00
5           5  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 09:00:00
6           6  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 09:45:00
7           7  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 10:00:00
8           8  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 11:00:00
9           9  2019-04-19 05:31:43  MADRID     SEVILLA  2019-05-29 11:05:00

              end_date train_type  price train_class      fare
0  2019-05-29 09:16:00    AV City  38.55     Turista     Promo
1  2019-05-29 09:32:00        AVE  53.40     Turista     Promo
2  2019-05-29 09:51:00        AVE  47.30     Turista     Promo
3  2019-05-29 10:32:00        AVE  69.40  Preferente     Promo
4  2019-05-29 11:14:00      ALVIA    NaN     Turista     Promo
5  2019-05-29 11:38:00        AVE  60.30     Turista     Promo
6  2019-05-29 12:27:00  INTERCITY  62.20     Turista  Flexible
7  2019-05-29 12:32:00        AVE  47.30     Turista     Promo
8  2019-05-29 13:32:00        AVE  53.40     Turista     Promo
9  2019-05-29 13:41:00      ALVIA    NaN     Turista     Promo

In [23]:
df.drop('fare',axis=1).head(2)

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class
0,0,2019-04-19 05:31:43,MADRID,SEVILLA,2019-05-29 06:20:00,2019-05-29 09:16:00,AV City,38.55,Turista
1,1,2019-04-19 05:31:43,MADRID,SEVILLA,2019-05-29 07:00:00,2019-05-29 09:32:00,AVE,53.40,Turista

In [26]:
a=df.drop_duplicates().head()