In [1]:
import pandas as pd

In [2]:
url='http://localhost/dataset/metaDataCSV.csv'

In [3]:
df=pd.read_csv(url)

In [8]:
print(df)

     Label Char Name
0        0         া
1        1         ি
2        2         ী
3        3         ু
4        4         ূ
5        5         ৃ
6        6         ে
7        7         ৈ
8        8         ো
9        9         ৌ
10      10         অ
11      11         আ
12      12         ই
13      13         ঈ
14      14         উ
15      15         ঊ
16      16         ঋ
17      17         এ
18      18         ঐ
19      19         ও
20      20         ঔ
21      21         ক
22      22         খ
23      23         গ
24      24         ঘ
25      25         ঙ
26      26         চ
27      27         ছ
28      28         জ
29      29         ঝ
..     ...       ...
92      92       চ্চ
93      93       ক্র
94      94       দ্দ
95      95       জ্জ
96      96       ক্ক
97      97       ন্ত
98      98       ক্ট
99      99       ঞ্চ
100    100       ট্ট
101    101       শ্চ
102    102       ক্স
103    103       জ্ব
104    104       ঞ্জ
105    105       দ্ধ
106    106       ন্ন
107    107       ঘ্ন
108    108       ক্ল
109    109       হ্ন
110    110       স্প
111    111       ল্ত
112    112         ০
113    113         ১
114    114         ২
115    115         ৩
116    116         ৪
117    117         ৫
118    118         ৬
119    119         ৭
120    120         ৮
121    121         ৯

[122 rows x 2 columns]